/dataset
/dataset2
/dataset_19
/dataset_old
/done_image
/dataset*
/checkpoints
/veg*
*.jpg
*.jpeg
*.png
*.bmp
*data*
mlruns
table
*.keras
__pycache__
.ipynb_checkpoints
*.h5
*.tflite
*.csv
logs/
fruit_vegetable_image_detection
*.json